section#audio-box {
  height: 150px;
  overflow: auto;
  margin-top: @pad;
  border: @pin solid DimGrey;
  border-radius: @rads-max;
  .audio-track {
    height: 50px;
    border-top: 1px solid DimGrey;
    padding: @pad-min;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @clr-primary;
    box-sizing: border-box;
    &:first-child {
      border-top: none;
    }
    audio {
      width: 325px;
      border-radius: @rads;
    }
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: @pad;
}


@media screen and (max-width: @ss-s) {
  section#audio-box {
    .audio-track {
      height: auto;
      flex-direction: column;
      h3 {
        padding: @pad-min;
      }
      audio {
        width: 100%;
        margin-top: @pad-min;
      }
    }
  }
}
