main#Home {
  display: flex;
  flex-direction: column;
  input {
    width: 100%;
  }
  footer {
    display: flex;
    justify-content: space-between;
    &.top-bar {
      border-top: 1px solid DimGrey;
      padding-top: @pad;
    }
  }
}

section.image-tiles {
  display: grid;
  grid-gap: @pad-min;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: @pad 0;
}

.jumbotron {
  text-align: center;
  padding: @pad-max;
  font-size: @fs-1;
  font-weight: lighter;
  background: @clr-secondary;
  margin: @pad 0;
  border-radius: @rads-max;
}

.btn-dir {
  padding: 0 @pad;
  background: @clr-primary;
  border-radius: @rads-max;
  box-shadow: 0 @rads @clr-accent, 0 @rads @rads 1px rgba(0, 0, 0, 0.25);
  height: @pad-max;
  line-height: @pad-max;
  &:active {
    box-shadow: none;
    margin-top: @rads;
  }
}

input.text-large {
  width: 100%;
  padding: @pad-min;
  box-sizing: border-box;
  border-radius: @rads-max;
  border: @pin solid DimGrey;
}

@media screen and (min-width: @ss-xs) {
  section.image-tiles {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: @ss-s) {
  section.image-tiles {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: @ss-m) {
  section.image-tiles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: @ss-l) {
  section.image-tiles {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: @ss-xl) {
  section.image-tiles {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
